* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 1.45;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

main {
  height: 100vh;
  padding: 10px;
}

.form-container {
  display: block;
  margin: 0 auto;
  min-width: 350px;
  width: 370px;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background: #fff;
}

.form-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 490px;
  position: relative;
  padding: 30px;
}
.form-sign-up__title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.form-sign-up__label {
  color: #a3a3a3;
  font-weight: 400 !important;
}
.form-sign-up__button {
  text-transform: uppercase;
}

.error-border {
  border-color: red !important;
}

.correctly-border {
  border-color: green !important;
}

.input__wrapper {
  position: relative;
}

.btn__pass {
  position: absolute;
  top: 20px;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0.3;
  outline: none;
}
.btn__pass:focus {
  outline: none;
}

.active {
  opacity: 1;
}